
    *{
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    body {
      background-color: #dddddd
        /*#f4f4f9*/
      ;
      color: #333;
      padding: 0px;
      margin: 0px;
      text-overflow: ellipsis;
    }

    li {
      list-style: none;
      border-bottom: 1px solid #cccccc;
      padding: 0.35rem;
      height: 1.2rem;
      width: calc(100vw - 40px);
      line-height: 1.2rem;
      border-radius: 3px;
      margin: 0rem;
      z-index: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      background: linear-gradient(#f4f4f9, #eeeeee);
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    li:hover {
      background: linear-gradient(#ffffff, #f4f4f9);
      color: #000000;
      border-radius: 5px;
    }

    ul {
      padding-left: 0;
      z-index: 1;
    }

    #currentTrackName {
      font-size: 1.4rem;
      padding: 0px;
      margin: 0px;
      margin-left: 15px;
    }

    #playerContainer {
      max-width: 100vw;
    }

    .toolbar {
      overflow-y: scroll;
      display: flex;
      flex-wrap: wrap;
      position: fixed;
      height: calc(53px + 7rem + 10px);
      width: calc(100vw - 10px);
      margin: 0px;
      padding-left: 10px;
      padding-top: 0rem;
      background-color: #dddddd;
      z-index: 5;
    }

    .playlist {
      height: calc(100vh - 53px - 7rem - 10px);
      overflow: scroll;
      position: relative;
      top: calc(53px + 7rem + 10px);
      width: calc(100vw - 10px);
      padding-left: 10px;
      z-index: 1;
      background-color: #dddddd;
    }

    button,
    select {
      flex-wrap: wrap;
      white-space: nowrap;
      padding: 12px;
      padding-bottom: 0px;
      padding-top: 0px;
      height: 2rem;
      margin-right: -4px;
      margin-top: 3px;
      border: 0px;
      border-right: 1px solid #dddddd;
      border-radius: 3px;
      cursor: pointer;
      background: linear-gradient(#eeeeee, #cccccc);
    }

    .divbutton {
      padding: 8px;
      margin: 4px;
      border: 0px solid #dddddd;
      border-radius: 5px;
      cursor: pointer;
      max-width: 80vw;
      display: inline-block;
      z-index: 3;
      font-size: 0.8rem;
      height: 0.8rem;
      background: linear-gradient(#33AEFF, #007BFF);
      color: white;
      text-align: center;
      vertical-align: middle;
    }

    .input {
      display: none;
      width: 100%;
      padding: 0px;
      margin-top: 5px;
      border: 0px solid #cccccc;
      border-radius: 5px;
      cursor: pointer;
      background-color: #cccccc;
    }

    #currentTime {
      display: flex;
      justify-content: flex-end;
      padding: 0px;
      margin: 0px;
      padding-right: 20px;
      font-size: 1rem;
    }

    button:hover {
      background: linear-gradient(#cccccc, #cccccc);
    }

    select:hover {
      background: linear-gradient(#cccccc, #cccccc);
    }

    .divbutton:hover {
      background: linear-gradient(#007BFF, #0048CC);
      color: white;
    }

    button.active {
      background: linear-gradient(#33AEFF, #007BFF);
      color: white;
    }

    .currenttrack {
      background: linear-gradient(#eeeeee, #cccccc);
      width: calc(100vw - 30px);
      padding: 2px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0px;
      margin-top: 5px;
      margin-bottom: 5px;
      white-space: nowrap;
      overflow: scroll;
      border-radius: 5px;
      height: 2rem;
      line-height: 2rem;
    }

    #progressContainer {
      margin: 10px 0;
      width: calc(100vw - 25px);
      height: 10px;
      background: #eeeeee;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
      z-index: 1;
    }

    #progress {
      background: linear-gradient(#33AEFF, #007BFF);
      height: 100%;
      width: 0%;
      transition: width 0.1s linear;
      border-radius: 5px;
      z-index: 1;
    }

    #playlist {
      margin-top: 20px;
    }

    #playlist .nowPlaying {
      background: linear-gradient(#33AEFF, #007BFF);
      color: white;
      border-radius: 5px;
    }

    #playlist .nowPlaying:hover {
      background: linear-gradient(#33AEFF, #006AFF);
    }

    .tooltip,
    .tooltip1,
    .tooltip2,
    .tooltip3,
    .tooltip4,
    .tooltip5,
    .tooltip6,
    .tooltip7,
    .tooltip8,
    .tooltip9,
    .tooltip10 {
      position: relative;
      cursor: pointer;
    }

    .tooltip-text,
    .tooltip-text1,
    .tooltip-text2,
    .tooltip-text3,
    .tooltip-text4,
    .tooltip-text5,
    .tooltip-text6,
    .tooltip-text7,
    .tooltip-text8,
    .tooltip-text9,
    .tooltip-text10 {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -30px;
      display: inline-block;
      padding: 5px;
      white-space: nowrap;
      font-size: 0.8rem;
      line-height: 1.3;
      background: #333;
      color: #fff;
      border-radius: 3px;
      transition: 0.3s ease-in;
      z-index: 10000;
    }

    .tooltip:hover .tooltip-text {
      opacity: 1;
      visibility: visible;
    }

    .tooltip1:hover .tooltip-text1 {
      opacity: 1;
      visibility: visible;
    }

    .tooltip2:hover .tooltip-text2 {
      opacity: 1;
      visibility: visible;
    }

    .tooltip3:hover .tooltip-text3 {
      opacity: 1;
      visibility: visible;
    }

    .tooltip4:hover .tooltip-text4 {
      opacity: 1;
      visibility: visible;
    }

    .tooltip5:hover .tooltip-text5 {
      opacity: 1;
      visibility: visible;
    }

    .tooltip6:hover .tooltip-text6 {
      opacity: 1;
      visibility: visible;
    }

    .tooltip7:hover .tooltip-text7 {
      opacity: 1;
      visibility: visible;
    }

    .tooltip8:hover .tooltip-text8 {
      opacity: 1;
      visibility: visible;
    }

    .tooltip9:hover .tooltip-text9 {
      opacity: 1;
      visibility: visible;
    }

    .tooltip10:hover .tooltip-text10 {
      opacity: 1;
      visibility: visible;
    }

    #playlist li {
      cursor: grab;
    }

    #playlist li.dragging {
      opacity: 0.5;
    }

    .delete-btn {
      vertical-align: middle;
      background: linear-gradient(#33AEFF, #007BFF);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 0.6rem;
      height: 1rem;
      margin-right: 0.1rem;
      align-items: center;
    }

    .delete-btn:hover {
      background: darkred;
    }
